.sidebar-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    // background: var(--background-alt);
    background: #0b1825;

    .logo-container{
        padding: 15px;
        cursor: pointer;
        img{
            width: 100%;
        }
    }
    ul {
        margin: 0px;
        padding: 0px;
        border-top: 1px solid var(--foreground-light);
        padding-top: 10px;
        li {
            padding: 0px;
            margin: 0px;
            text-align: center;
            a, button {
                display: inline-block!important;
                padding: 10px!important;
                background: none;
                padding: 0px;
                border: 0px;
                outline: none;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                    background: #fff;
                }
            }
        }
    }
    ul.bottom-nav {
        margin-top: auto;
    }
    .user-avatar{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        cursor: pointer;
        position: relative;
        user-select: none;
        .avatar {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background: #333;
        }
        .avatar-dropdown{
            position: absolute;
            z-index: 999;
            left: calc(100% + 10px);
            bottom: 0px;
            width: 100%;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            min-width: 250px;
            ul {
                list-style: none;
                padding: 0px;
                margin: 0px;
            }
            button, a {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;
                background: none;
                border: 0px;
                padding: 12px 15px;
                font-size: 16px;
                cursor: pointer;
            }
            .account-item{
                padding: 12px 15px;
                border-bottom: 1px solid #f1f1f1;
                &:last-child{
                    border-bottom: 0px;
                }
            }
        }
    }
}