.core-layout{
    display: flex;
    flex-direction: row;
    height: 100vh;
    .sidebar {
        width: 70px;
        background: #f1f1f1;
        height: 100%;
        min-width: 70px;
        box-shadow: 1px 1px 3px rgba(#000, 0.2);
        position: relative;
        z-index: 99;
    }
    .columns-layout{
        width: calc(100% - 60px);
    }
}