.column{
    // border-right: 3px solid #ddd;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--background-alt);
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(#000, 0.1);

    &.is-settings-active{
        box-shadow: 0px 0px 4px 0px rgba(#000, 0.1);
        z-index: 99999;
    }
    .column-header{
        min-height: 50px;
        display: flex;
        align-items: center;
        min-width: 200px;
        width: 100%;
        border-bottom: 1px solid var(--background-alt-light);
        padding: 10px 15px;
        height: 60px;
        min-height: 60px;
        .column-title{
            flex: 1;
            font-size: 1.1rem;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            .column-title-text{
                font-size: 16.5px;
            }
            .column-title-info{
                font-size: 14px;
                color: #888;
                margin-top: 3px;
                font-weight: 500;
            }
        }
        .column-actions{
            display: flex;
            align-items: center;
            gap: 10px;
            .column-action-button{
                display: flex;
                align-items: center;
                gap: 5px;
                background: none;
                border: 1px solid #000;
                color: #222;
                padding: 7.5px 10px;
                border-radius: 5px;
                cursor: pointer;
                font-weight: 500;
                border-radius: 30px;
                opacity: 0.4;
                font-size: 13px;
                span{
                    font-weight: 500;
                }
                &:hover{
                    opacity: 1;
                }
            }
        }
        &:hover{
            .column-actions{
                .column-action-button{
                    opacity: 1;
                }
            }
        }
        button {
            border: 0px;
            background: none;
            cursor: pointer;
        }
    }
    .column-loader{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #ddd;
    }
    .column-content{
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        .column-feed{
            height: 2000px;
        }
    }

    .column-settings{
        position: absolute;
        left: calc(100% + 10px);
        top: 0;
        bottom: 0;
        background: #fff;
        border: 1px solid #ddd;
        z-index: 1000;
        min-width: calc(100% - 50px);
        width: calc(100% - 50px);
        padding: 20px 10px;
        height: 100%;
        overflow-y: auto;
        border-radius: 10px;
        .single-setting {
            margin-bottom: 30px;
            h4{
                margin-left: 10px;
                margin-bottom: 10px;
                font-size: 1.05rem;
                font-weight: 600;
            }
            .checkbox-option{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                padding: 8px 10px;
                border-radius: 5px;
                cursor: pointer;
                font-weight: 500;
                font-size: 15px;
                &:hover {
                    background: #f8f8f9;
                }
                .checkbox{
                    width: 24px;
                    height: 24px;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &.checked{
                    .checkbox{
                        background: #000;
                        border-color: #000;
                        color: #fff;
                    }
                } 
            }

                .search-input, .hashtag-input{
                    display: flex;
                    border: 1px solid #aaa;
                    border-radius: 5px;
                    overflow: hidden;
                    &:focus-within{
                        border-color: #000;
                        button {
                            background: #000;
                        }
                    }
                    input{
                        width: 100%;
                        padding: 10px;
                        border-radius: 5px;
                        outline: none;
                        flex-grow: 1;
                        border: 0px;
                    }
                    button{
                        background: #aaa;
                        color: #fff;
                        border: 0px;
                        padding: 10px;
                        border-radius: 0px;
                        cursor: pointer;
                    }
                }
            .hastag-wrapper{
                .hashtags{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;
                    margin-top: 10px;
                    .single-hashtag{
                        background: #f1f1f1;
                        padding: 5px 10px;
                        border-radius: 5px;
                        display: inline-flex;
                        align-items: center;
                        gap: 7px;
                        font-size: 13px;
                        .close-btn{
                            display: inline-flex;
                            align-items: center;
                            cursor: pointer;
                            opacity: 0.6;
                            background: #fff;
                            padding: 2px;
                            border-radius: 50%;
                            &:hover{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        .close-icon{
            position: absolute;
            right: 10px;
            top: 10px;
            color: #000;
            background: none;
            border: 0px;
            border-radius: 50%;
            padding: 5px;
            cursor: pointer;
        }
        .column-actions-list{
            border-top: 1px solid #ddd;
            padding-top: 20px;
            .single-column-action{
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px 10px;
                cursor: pointer;
                user-select: none;
                font-weight: 500;
                &:hover {
                    background: #f1f1f1;
                }
                &.delete-column{
                    color: #ff0000;
                }
            }
        }
    }
    .column-setup{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 20px;
        h2{
            font-size: 1.3rem;
            margin-bottom: 5px;
        }
        p{
            font-size: 1rem;
            color: #888;
            margin-bottom: 20px;
        }
        button{
            background: #000;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}